@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ViaKnockout</title>
    <script src="@Url.Content("~/Scripts/Knockout/knockout-3.4.0.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/underscore-min.js")"></script>
    <script src="@Url.Content("~/Scripts/Knockout/music.js")"></script>
</head>
<body>
<div>
      KO
</div>
</body>
</html>