<div>
    <div id="musicFiltersOnClient"></div>
    
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="@Url.Content("~/Scripts/react.js")"></script>
    <script src="@Url.Content("~/Scripts/react-dom.js")"></script>
    <script src="@Url.Content("~/Scripts/MusicChoice/MusicFilters.jsx")"></script>
    <script src="@Url.Content("~/Scripts/MusicChoice/MusicFiltersOnClient.jsx")"></script>
</div>
